*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}

.container {
  margin: 2rem auto 0;
  width: 24rem;
}

.output {
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100px;
  padding: 1rem;
  align-items: flex-end;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.75);
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-output {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-output {
  color: #fff;
  font-size: 2.5rem;
}

.row {
  display: flex;
}

.row > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  flex-basis: 25%;
}

.row > button:hover,
.row > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.row .span-2 {
  flex-basis: 50%;
}
